@charset 'UTF-8';

/* 그누보드에서 불러온 기본 CSS + Apple Device 호환성 적용한 것 */
html {overflow-y:scroll}
body {margin:0px;padding:0;font-size:12px;font-family:'Apple SD Gothic Neo', 'Helvetica', 'Nanum Gothic', 'NanumGothic', 'Malgun Gothic', 'MalgunGothic', 'Dotum', '돋움', sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Apple SD Gothic Neo', 'Helvetica', 'Nanum Gothic', 'NanumGothic', 'Malgun Gothic', 'MalgunGothic', 'Dotum', '돋움', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:'Apple SD Gothic Neo', 'Helvetica', 'Nanum Gothic', 'NanumGothic', 'Malgun Gothic', 'MalgunGothic', 'Dotum', '돋움', sans-serif;font-size:1em}
button {cursor:pointer}

textarea, select {font-family:'Apple SD Gothic Neo', 'Helvetica', 'Nanum Gothic', 'NanumGothic', 'Malgun Gothic', 'MalgunGothic', 'Dotum', '돋움', sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited, a:hover, a:focus, a:active {color:#000;text-decoration:none}
*{box-sizing:border-box;}

/* 글로벌 클래스 시작 { */

.g_wrapper{margin-left:auto; margin-right:auto; width:980px;} /* 가로 고정폭 980px */

/* } 글로벌 클래스 종료 */


/* 헤더 영역 시작 { */
#brand_bar{height:2px; background:#ea5541;}

#header .gnb_area{margin-top:8px; overflow:hidden;}
#header .gnb_area .gnb .gnb_ul{list-style:none; overflow:hidden; float:right; margin:0px; padding:0px;}
#header .gnb_area .gnb .gnb_ul li{position:relative; float:left; color:#aaa; letter-spacing:-1px; font-size:11px; margin-left:10px;}
#header .gnb_area .gnb .gnb_ul li:before{position:absolute; content:''; width:1px; height:10px; background:#ddd; left:-5px; top:1px;}
#header .gnb_area .gnb .gnb_ul li:first-child:before{background:transparent;}
#header .gnb_area .gnb .gnb_ul li a{color:#aaa;}
#header .gnb_area .gnb .gnb_ul li.black{color:#888;}
#header .gnb_area .gnb .gnb_ul li.black a{color:#888;}

#header .mw_banner{margin-top:20px; overflow:hidden;}
#header .mw_logo{float:left; width:156px;}
#header .mw_search{float:left; margin-left:20px; width:800px;}
#header .mw_search .search_area{overflow:hidden;}
#header .mw_search .search_area .search_box{position:relative; float:left; border:2px solid #ea5541; width:450px; height:49px; margin-top:6px;}
#header .mw_search .search_area .search_box input{position:absolute; border:0px; top:0px; left:0px; width:100%; height:100%; outline:none; font-size:20px; font-weight:bold; padding:0px 10px; color:#000;}
#header .mw_search .search_area .search_box .search_autocomplete{position:absolute; top:50%; width:9px; right:10px; background:url(../img/search_bottom.png); z-index:999; height:5px; margin-top:-2.5px; transition:0.3s ease all;}
#header .mw_search .search_area .search_box input:focus + .search_autocomplete{transform:rotate(180deg);}
#header .mw_search .search_area .search_button{float:left; cursor:pointer;}
#header .mw_search .search_area .search_button button{border:0px; margin-left:0px; margin-top:6px; height:49px; background:#ea5541; color:#fff; width:60px; font-size:20px; outline:none; cursor:pointer;}

#navigation{margin-top:40px; border-top:1px solid #eee;}
/* } 헤더 영역 종료 */

/* 컨텐츠 영역 시작 { */

/* } 컨텐츠 영역 종료 */


/* 푸터 영역 시작 { */

/* } 푸터 영역 종료 */